# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ameer Ghani
	email = ameer.ghani@ibm.com
[pull]
	rebase = false
[core]
	excludesfile = /home/aghani/.gitignore
[url "git@github.ibm.com:"]
	insteadOf = https://github.ibm.com
[url "git@github.ibm.com:GoldenEye"]
	insteadOf = https://github.ibm.com/GoldenEye
