# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ameer Ghani
	email = inahga@gmail.com
[pull]
	rebase = false
[core]
	excludesfile = /home/aghani/.gitignore
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = inahga@gmail.com
	smtpencryption = tls
	smtpserverport = 587
